<section class="pg-lg-0 text-light" id="contact">
  <div style="background: #002147" class="py-5">
    <div class="container">
      <h2 class="text-center twelve-margin-bottom">Contáctame!</h2>
      <p class="mb-5">
        Rellena el formulario para mantenernos en contacto y agendar una
        reunión. Te enviaré un mensaje de respuesta a la brevedad.
      </p>

      <div class="">
        <form
          class="bg-light text-dark sixteen-border-radius sixty-four-padding"
        >
          <div class="form-group mb-2">
            <label for="inputName" class="mb-2">Nombre y apellido</label>
            <input
              type="text"
              class="form-control six-border-radius py-2"
              id="inputName"
              placeholder="Ingrese su nombre y apellido"
            />
          </div>
          <div class="form-group thirty-two-margin-bottom">
            <label for="inputEmail" class="mb-2">Email</label>
            <input
              type="email"
              class="form-control six-border-radius py-2"
              id="inputEmail"
              aria-describedby="emailHelp"
              placeholder="Ingrese un correo"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary-bg-500 text-light six-border-radius py-2"
            style="width: 100%"
          >
            Enviar
          </button>
        </form>
        <!-- <ul class="list-group list-group-flush lead">
            <li class="list-group-item">
              <span class="fw-bold">Main Location:</span> 50 Main st Boston MA
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Enrollment Phone:</span> (555) 555-5555
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Student Phone:</span> (333) 333-3333
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Enrollment Email:</span>
              enroll@frontendbc.test
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Student Email:</span>
              student@frontendbc.test
            </li>
          </ul> -->
      </div>
    </div>
  </div>
</section>
