<div class="container">
  <form
    class="bg-light text-dark sixteen-border-radius sixty-four-padding"
    [formGroup]="createCityForm"
    (ngSubmit)="submit()"
  >
    <h1 class="h3 mb-3 fw-normal">Agregar ciudad</h1>

    <div class="form-group mb-2">
      <label for="name" class="mb-2">Nombre de la ciudad</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Nombre de la ciudad"
        formControlName="name"
      />
      <div
        *ngIf="
          (createCityForm.controls['name'].invalid &&
            (createCityForm.controls['name'].dirty ||
              createCityForm.controls['name'].touched)) ||
          (createCityForm.controls['name'].untouched && isSubmitted)
        "
        class="alert alert-danger"
      >
        <div *ngIf="createCityForm.controls['name'].errors.required">
          Nombre de la ciudad es requerido
        </div>
      </div>
    </div>

    <div class="form-group mb-2">
      <label for="region" class="mb-2">Provincia</label>
      <select class="form-control" id="region" formControlName="region">
        <option value="">Seleccione una opcion</option>
        <option *ngFor="let region of regions" [value]="region.id">
          {{ region.name }} - {{ region.country.name }}
        </option>
      </select>
      <div
        *ngIf="
          (createCityForm.controls['region'].invalid &&
            (createCityForm.controls['region'].dirty ||
              createCityForm.controls['region'].touched)) ||
          (createCityForm.controls['name'].untouched && isSubmitted)
        "
        class="alert alert-danger"
      >
        <div *ngIf="createCityForm.controls['region'].errors.required">
          Seleccione una provincia
        </div>
      </div>
    </div>

    <button
      class="btn btn-primary-bg-500 text-light six-border-radius py-2"
      style="width: 100%"
      type="submit"
    >
      Guardar nueva ciudad
    </button>
    <div class="mt-2">
      <button
        class="btn btn-outline-primary-bg-500 six-border-radius btn-sm float-end"
        [routerLink]="['../']"
        type="button"
      >
        Volver
      </button>
    </div>
  </form>
</div>
